* {
	margin: 0;
	padding: 0;
}

body, html {
	height:100%;
	background-color: black;
}

canvas {
	position:fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 20px;
}
#menu {
	background-color: #444;
	position: fixed;
	text-align: center;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 20px;
}